@import '~rootSrc/common/common.scss';

.btn-area{
	margin: 40px 0 8px;
	text-align: center;
	button + button{
		margin-left: 50px;	
	}
}

.upload-input{
	width: 379.5px;
	height: 32px;
	&::before{
		content: '';
		position: absolute;
		left: 8px;
		top: 6px;
		display: inline-block;
		width: 17px;
		height: 17px;
		background: url('../icons/pdf.png') no-repeat center;
	}
	&::after{
		@include ellipse;
		content: attr(data-content);
		position: absolute;
		left: 32px;
		top: 4px;
		display: inline-block;
		width: 340px;
		height: 17px;
		font-family: PingFangSC-Regular;
		font-size: 14px;
		color: #999999;
	}
}