@import '~rootSrc/common/common.scss';

.wrap{
	position: relative;
}

.btn-area{
	@include flexCenter;
	flex-direction: row;
	position: absolute;
	top: -10px;
	right: 0;
}

.download{
	@include flexCenter;
	@include hover;
	width: 110px;
	height: 32px;
	margin-right: 20px;
	line-height: 32px;
	background: #1989FA;
	border-radius: 4px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	&::before{
		content: '';
		display: inline-block;
		width: 18px;
		height: 18px;
		margin-right: 8px;
		background: url('./icons/xiazai.png') no-repeat center;
	}
}

.full{
	@include flexCenter;
	@include hover;
	width: 110px;
	height: 32px;
	line-height: 30px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: rgba(0,0,0,.65);
	text-align: center;
	&::before{
		content: '';
		display: inline-block;
		width: 15px;
		height: 15px;
		margin-right: 8px;
		background: url('./icons/full.png') no-repeat center;
	}
}

.title{
	@include ellipse;
	padding: 36px 0 11px;
	line-height: 22px;
	font-family: PingFangSC-Medium;
	font-size: 16px;
	text-align: center;
	color: #333333;
	border-bottom: 1px solid #EEEEEE;
}

.content{
	overflow: hidden;
	height: calc(100vh - 350px);
	padding: 16px 8px 0;
	font-family: PingFangSC-Light;
	font-size: 14px;
	line-height: 20px;
	color: #3F3F3F;
}