@import '~rootSrc/common/common.scss';

.top-nav{
	@include flexYCenter;
	height: 45px;
	padding-left: 24px;
	background-color: #fff;
}

.route-content{
	height: calc(100% - 45px - 64px);
	overflow: auto;
}

.welcome{
	@include flexCenter;
	height: 100%;
	font-family: PingFangSC-Medium;
	font-size: 16px;
}