@import '~rootSrc/common/common.scss';

.wrap{
	padding: 9px 14px;
}

.form-item-wrap{
	padding: 0 20px;
	max-height: calc(100vh - 340px);
	overflow: auto;
}

.btn-area{
	margin: 20px 0 8px;
	text-align: center;
	button + button{
		margin-left: 50px;	
	}
}

.item1{
	display: inline-block;
	width: 35%;
	margin-bottom: 6px;
	white-space: nowrap;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #595959;
}

.item2{
	display: inline-block;
	width: calc(65% - 20px);
	margin-Left: 20px;
	margin-bottom: 6px;
	white-space: nowrap;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #595959;
}